footer {
  .logo {
    img {
      height: 60px;
    }
  }
  
  .social-media {
    a {
      text-decoration: none;
      
      img {
        width: 30px;
        margin-left: 15px;
      }
    }
  }
}